{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^~/domain/(.*)$",
    "^~/application/(.*)$",
    "^~/infrastructure/(.*)$",
    "^~/(.*)$",
    "^./(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
